<p id="notice"><%= notice %></p>

<% if notice %>
<p id ="notice"><%= notice %></p>
<% end %>

<h2>Pragmaticカート</h2>

	<!--<% @cart.line_items.each{ |item| %>
		<li><%= item.quantity %> &times; <%= item.product.title %></li>
	<% } %>-->


	<%= render @cart %>

