<p id="notice"><%= notice %></p>

<% if notice %>
<p id ="notice"><%= notice %></p>
<% end %>

<h2>Pragmaticカート</h2>
<ul>
	<% @cart.line_items.each{ |item| %>
		<li><%= item.quantity %> &times; <%= item.product.title %></li>
	<% } %>
</ul>


<div class = "cart_total">カート</div>
<table>
	<% @cart.line_items.each{ |item|%>
	<tr>
		<td><%= item.quantity %> &times; </td>
		<td><%= item.product.title %></td>
		<td><class = "item_price"><%= number_to_currency(item.total_price) %></td>
	</tr>
	<% } %>

	<tr class = "total_line">
		<td><% colspan="2" %>合計</td>
		<td class = "total_cell"><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>

<%= button_to 'カートから削除', @cart, method: :delete, data:{confirm: '削除してもよろしいですか?'} %> 
